:root{
    --bg_col:#364f41;
    --txt_col:#e9e9e9;
    --main_bg_col:#9e9ab5;
}
body{
    background-color:var(--main_bg_col);
}
#body{
    background-color:var(--bg_col);
    color:var(--txt_col);
    margin:5% 13% 5%;
    
}